@model Bildirim

<div class="col mb-4">
	<div class="card border-0">
	<a href="/Bildirimler/Details/@Model.Id">
		<img src="/Img/Bildirimler/@Model.Resim" alt="@Model.İsim" class="img-fluid bildirim-img"/>
	</a>
	</div>
</div>
