@* // BU SAYFA _Footer, LAYOUTDA' Kİ FOOTER KODLARINI BARINDIRIYOR LAYOUTTA KOD KALABALIĞI OLMAMAMASI İÇİN *@
<section class="bg-secondary">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                   <h5>Bize Ulaşın</h5>
                   <div class="col-auto">
                       <div>
                           <h6>Adres</h6>
                           Mevlana/Talas/Kayseri
                       </div>
                       <div>
                            <h6> Email</h6>
                          info@eticaret.com
                       </div>
                       <div>
                            <h6>Telefon</h6>
                             0212 444 56 58
                       </div>
                   </div>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Kategoriler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Dizüstü Bilgisayar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Masaüstü Bilgisayar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">About</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3 mb-3">
                    <h5>Markalar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Asus</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Monster</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">MSİ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Lenovo</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">HP</a></li>
                    </ul>
                </div>

                <div class="col-md-4  mb-3">
                    <form>
                        <h5>Hemen Kayıt Olun!</h5>
                        <p>Kampanyalardan ilk sizin haberiniz olsun</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-primary text-nowrap" type="button">Kayıt Ol</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="bg-dark text-white text-center p-3 mt-4" ">
                <p>© 2025 Eticaret , Ltd. Tüm Hakları Saklıdır.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="link-text-light" href="instagram.com/" target="_blank">
                            <i class="bi bi-instagram"></i>
                    </a></li>
                    <li class="ms-3">
                        <a class="link-text-light" href="whatsapp.com/" target="_blank">
                            <i class="bi bi-whatsapp"></i>
                    </a></li>
                    <li class="ms-3">
                        <a class="link-text-light" href="facebook.com/" target="_blank">
                            <i class="bi bi-facebook"></i>
                    </a></li>
                </ul>
            </div>
        </footer>
    </div>

</section>
