@model Eticaret.Core.Entities.Marka

@{
    ViewData["Title"] = "Marka Düzenle";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Logo" />
            <input type="hidden" asp-for="OlusturmaTarihi" />

            <div class="form-group">
                <label asp-for="Markaİsim" class="control-label"></label>
                <input asp-for="Markaİsim" class="form-control" />
                <span asp-validation-for="Markaİsim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <textarea asp-for="Aciklama" class="form-control"> </textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label" ></label>
                <input asp-for="Logo" class="form-control" type="file"  />
                <span asp-validation-for="Logo" class="text-danger"></span>
                @if(Model.Logo != null && !string.IsNullOrWhiteSpace(Model.Logo))
                {
                    <img src="/Img/@Model.Logo" height="75"/>
                    <label class="form-check-label">
                        @Html.CheckBox("cbResmiSil") Logoyu Sil
                    </label>
                }
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aktif" /> @Html.DisplayNameFor(model => model.Aktif)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SiralamaNo" class="control-label"></label>
                <input asp-for="SiralamaNo" class="form-control" />
                <span asp-validation-for="SiralamaNo" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

